.headerWrapper {
  height: 100px;
  box-sizing: border-box;
  width:calc(100vw - 2rem);
  background-color: #99d98c;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;

  border-radius: 10px;

}
.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;

}
.navBar * {
  color: #34a0a4;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}
.navBar h2:hover {
  color: #60ff8b;
  cursor: pointer;
}


.navToggle {
  display: none;
}

.navBar {
  display: flex;
}

.navOpen {
  display: flex;
}
.navToggleLeft, .navToggleRight {
  display: none;

}
.profileButton {
  overflow: hidden;
  position: absolute;
  right: .5rem;
  width: 60px;
  height: 60px;
  font-size: 1.5rem;
  color: white;
  margin-right: 2rem;
  border-radius: 50%;
  padding: .25rem .5rem .25rem .5rem;
  /* border: solid rgb(0, 0, 0) 2px; */
}
.profileButton:hover {
  transform: scale(.9);
  cursor: pointer;
}

@media (max-width: 768px) {
  .headerWrapper{
    width: 96%;
    height: 80px;
    margin: 0 auto;
    margin-top: .5rem;
    background-color: #99d98c;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

  }

  .navBar * {
    margin: .5rem;
  }
  .title {
    font-size: 1rem;
  }
  .navToggle {
    display: inline-block;
  }
  .navToggleLeft {
    display: inline-block;
    position: relative;
    /* margin-left: 1rem; */

  }
  .navToggleRight {
    display: inline-block;
    position: relative;
    /* margin-right: 1rem; */
  }

  .navButton {
    font-size: 1.5rem;
    color: black;
    width: 45px;
  }
  .buttonWrapper {
    width: 100%;
    padding-top: .33rem;

    /* margin: 0 auto; */
    /* margin-top: 1rem; */
    /* margin-bottom: 1rem; */
  }
  .profileButton {
    display: inline-block;
    position: relative;
    width:45px;
    height:45px;
    margin: 0;
  }
}