.composePostContainer {
position: relative;
width: 100%;
text-align: center;
}
.composePostContainer * {
  margin: .5rem;

}
.composePostTitle {
  font-size: 2rem;
  margin-bottom: -10px;
}
.composePostSubtitle {
  font-size: 1.5rem;
  margin-bottom: -10px;
}
.postDescription {
  font-size: 1.25rem;
  margin: 0 auto;
  width: 70%
}
.composeForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
}
.postTypesContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  width: 100%;
}
.postType {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 50px;
  cursor: pointer;
  color: black;
  font-size: 1.25rem;
  background-color: #99d98c;
  border-radius: 10px;
}


/*  */
.postTextArea {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  border: solid black 1px;
  width: 98%;
  height: 120px;
  z-index: 5;
  padding: 1rem;
  font-size: 1.25rem;
  resize: none; /* Optional: if you don't want users to resize the textarea */
  margin-top: 5px;
}
.postTextArea:focus {
  outline: none;
}
.postSubmitButton {
  position: relative;
  background-color: #99d98c;
  font-size: 1.25rem;
  padding: .5rem 1rem .5rem 1rem;
  border-radius: 10px;
  /* margin-right: 80% */
}
.mobilePostTypeDropdown {
  display: none; /* Hide by default, show only in mobile view */
}

@media(max-width: 768px) {
  .composePostContainer {
    /* border: solid rgb(0, 0, 0) 4px; */
    width: 100%;
  }
  .postTypesContainer {
    width: 98vw;
  }
  .postSubmitButton {
    margin-right: 0;
  }
  .postType {
    margin: .25rem;
    font-size: 1.25rem;
  }
  .composePostTitle {
    color: white;
    margin-bottom: 1rem;
  }
  .composePostSubtitle {
    font-size: 1.25rem;
    color: white;
    display: none;
  }
}
.recipeLabel {
  color: white;
  background-color: #168aad;
  }
.storyLabel {
  color: white;
  background-color: #168aad;
}
.warningLabel {
  color: white;
  background-color: #168aad;
}

.giveawayLabel {
  color: white;
  background-color: #168aad;
}


@media(max-width: 500px) {
  .postTextArea {
    height: 80px;
    width: 90vw;
  }
}