.sidebarWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* background: linear-gradient(to right, #77fff1 0%, #7abfff 100%); */
  background: linear-gradient(to bottom, #168aad 0%, #1a759f 100%);
  border-radius: 10px;
  /* border: solid red 4px; */
}


.sidebarWrapper * {
  margin: 1rem;
  font-size: 1.5rem;
  color: white;
  /* border: solid green 2px; */
}