@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Meows';
  src: url('../public/fonts/Meows.ttf');
}
@font-face {
  font-family: 'GeoSansLight';
  src: url('../public/fonts/GeosansLight.ttf');
}
.app {
  /* border: solid red 4px; */
  font-family: GeoSansLight;
}


.appContent {
  width: 50vw;
  min-width:500px;
  height: auto;
  padding-top: 0;
  margin-top: 1rem;
  background-color: rgba(26, 117, 159, 0.5);
  border-left: solid rgb(114, 114, 114) 1px;
  border: solid rgb(114, 114, 114) 1px;
  border-radius: 10px;
  display: grid;
  /* grid-template-columns: 200px 1fr; */
  /* animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in; */
}
.feedContainer {
  /* border: solid blue 4px; */
  background: transparent;
  margin-top: 14rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* grid-column: 2; */
  padding-bottom: 4rem;

  width: 100%;

}
.background {
  position: fixed;
  background-image: url(../public/images/dog2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 40px);
  width: 100vw;
  overflow-y: auto;
  z-index: -2;

}
.background::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1); /* Black overlay with 30% opacity */
  z-index: -1;
}

.title {
  display: inline-block;
  font-size: 5rem;
  font-family: Meows;
  /* border: solid red 4px; */
  margin: 0 auto;
  margin-top: .5rem;
  margin-bottom: 0;
  padding: 0;
  color: #60ff8b;
  color: rgb(0, 0, 0);
  /* border: solid red 4px; */
  margin-bottom: -20px;
}

/* fade-in */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media(max-width: 768px) {
  .title {
    font-size: 3.5rem;
    color: white;
  }
  .appContent {

    min-width:96vw;
    height: auto;
    padding-top: 0;
    margin-top: 1rem;
    /* background-color: rgba(26, 117, 159, 0.5); */
    /* border-left: solid rgb(114, 114, 114) 1px;
    border: solid rgb(114, 114, 114) 1px; */
    background-color: rgb(38, 116, 150);
    /* border-radius: 10px; */
    display: grid;
  }
  .feedContainer {
    margin-top: 2rem;
  }
  .background {
    background-image: none;
  }
  .sidebarLeftWrapper, .sidebarRightWrapper {
    display: none;
}
}