@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Meows';
  src: url('../public/fonts/Meows.ttf');
}
@font-face {
  font-family: 'GeoSansLight';
  src: url('../public/fonts/GeoSansLight.ttf');
}
.app {
  /* border: solid red 4px; */
  font-family: GeoSansLight;
}

.appContent {
  width: 50vw;
  min-width:800px;
  height: auto;
  padding-top: 0;

  /* padding-top: 2rem; */
  display: grid;
  /* grid-template-columns: 200px 1fr; */
  animation-name: fade-in;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
.background {
  position: fixed;
  background-image: url(../public/images/dog2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 170px);
  width: 100vw;
  overflow-y: auto;

}
.feedContainer {
  /* border: solid blue 4px; */
  background: transparent;
  margin-top: 8rem;
  /* grid-column: 2; */
}

/* fade-in */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}