@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Meows';
  src: url('../public/fonts/Meows.ttf');
}
@font-face {
  font-family: 'Kitten Klub';
  src: url('../public/fonts/KittenKlub.ttf');
}
@font-face {
  font-family: 'GeoSansLight';
  src: url('../public/fonts/GeosansLight.ttf');
}
.app {
  /* border: solid red 4px; */
  font-family: GeoSansLight;
  width: 90vw;
  box-sizing: border-box;
}


.appContent {
  width: 50vw;
  min-width:500px;
  margin-top: 1rem;
  border-radius: 10px;
  height: auto;
  padding-top: 0;
  box-sizing:border-box;
  background-color: rgba(26, 117, 159, 0.5);
  border-left: solid rgb(114, 114, 114) 1px;
  display: grid;
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  animation-delay: .5s;
}
.feedContainer {
  /* border: solid blue 4px; */
  background: transparent;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* grid-column: 2; */
  padding-bottom: 4rem;
  width: 100%;
}
.feedOffset {
  margin-top: 18rem;
}
.background {
  position: fixed;
  background-image: url(../public/images/dog2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 40px);
  width: 100vw;
  overflow-y: auto;
  z-index: -2;
  box-sizing: border-box;
  border-top: solid 1px rgb(132, 132, 132);
  /* border: solid red 2px; */
}
.background::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1); /* Black overlay with 30% opacity */
  z-index: -1;
}

.title {
  display: inline-block;
  font-size: 4rem;
  font-family: Kitten Klub;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 0;
  padding: 0;
  color: #60ff8b;
  color: black;
  margin-bottom: -20px;
}

/* fade-in */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sidebarWrapper, .sidebarRightWrapper {
  display: flex;
}
@media(max-width: 768px) {
  .title {
    font-size: 2.25rem;
    color: black;
    margin-top: -10px;
  }
  .appContent {
    width: 100vw;
    height: auto;
    padding-top: 0;
    margin-top: 0;
    border-radius: 10px;
    background-color: rgb(38, 116, 150);
    border: none;
    display: grid;
  }
  .feedContainer {
    margin-top: 2rem;
    width: 100%;
  }
  .background {
    background-image: none;
  }
  .sidebarToggleLeft, .sidebarToggleRight {
    display: block; /* Show these buttons on mobile */
  }

  .sidebarWrapper, .sidebarRightWrapper {
    /* Mobile specific styles for sidebar */
    display: none; /* Initially hidden on mobile */
  }
  .sidebarWrapper, .sidebarRightWrapper {
    display: none;
  }

  /* Show the sidebar when it's open */
  .sidebarOpen {
    display: flex;
  }
}

