.allDogsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust column width as needed */
  gap: 1rem; /* Space between grid items */
  padding: 1rem; /* Optional: Padding around the grid */
  justify-items: center; /* Center items horizontally */
  align-items: start; /* Align items to the start of each row */
}

@media(max-width: 768px) {
  .allDogsContainer {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
    /* border: solid green 3px; */
  }
}