.allDogsContainer {
  text-align: center;
  width: 60vw;
}
.dogsPageTitle {
  font-size: 3rem;
}

.dogsPageDescription {
  font-size: 2rem;
}

@media(max-width:768px) {
  .allDogsContainer {
    width: 96%;

  }
}