.post {
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  font-size: 1.25rem;
  border: solid rgb(197, 197, 197) 1px;
  border-radius: 10px;
  margin: 1.5rem;
  padding: 2rem;
}
.title {
  font-size: 1.5rem;
  font-weight: 800;
  /* font-family: Meows; */
}
.description {

}
.ingredients, .directions, .recipeTitleContainer, .recipeDescriptionContainer {
  padding: 1rem;
  background-color: rgb(233, 232, 220);
  border: solid rgb(197, 197, 197) 1px;
  /* background: linear-gradient(to right, #a4ffda 0%, #96d8f7 100%); */
  border-radius: 10px;
  margin: 1rem;
}

.ingredients {

}

.directions {

}
.label {
  font-size: 1.5rem;
  font-weight: 800;
  /* font-family: Meows; */
}