.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    margin-top:2rem;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem 5rem;
    box-sizing: border-box;
    /* background-color: #76c893;
    background-color: rgb(197, 230, 238);
    background-color: rgba(26, 117, 159, 1); */
    /* background-color: white; */
    border-radius: 10px;
    /* overflow-y: auto; */
}
.profileContainer * {

}
.imgContainer {
  border-radius: 10px;
}

.name {
  margin: 1rem;
  font-size: 2rem;
  font-weight: bold;
}
.bio {
  margin: 1rem;
}
.roommate {
  margin: 1rem;
  border-radius: 10px;
  padding: .5rem 1rem .5rem 1rem;;
  background-color: #99d98c;
  background-color: #1a759f;
  background-color: white;
}