.post {
  position: relative;
  background: rgba(255, 255, 255, .8);
  font-size: 1.25rem;
  /* border: solid rgb(197, 197, 197) 1px; */
  border-radius: 10px;
  margin: .5rem;
  padding: 2rem;
  width: 94%;
  box-shadow: 10px 10px 10px -5px rgba(0,0,0,0.3);
  /* border: solid red 4px; */
}

.author {
  font-size: 1.5rem;
  font-weight: 800;
  /* font-family: Meows; */
}
.date {

}
.time {

}
.content {
  padding: 1rem 0rem 1rem .5rem;

}
.postImage:hover {
  cursor: pointer;
}
.linkContainer {
  background: white;
  display: inline-block;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem;
}
.link {
  color: #1a759f;
  text-decoration: underline;
  /* width: 400px; */
  width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.link:hover {
  color: black;
  cursor: pointer;

}
.postFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #99d98c;
  border-radius: 6px;
  padding: .5rem 2rem .5rem 2rem;
}
.story{
  background-color:#99d98c;
  background-color: #4dc5e9;
  display: inline-block;
  padding: .25rem .5rem .25rem .5rem;
}
.newsAndEvents {
  background-color:#f7ec96;
  display: inline-block;
  padding: .25rem .5rem .25rem .5rem;
}
.warning {
  background-color:#fbb3b3;
  display: inline-block;
  padding: .25rem .5rem .25rem .5rem;
}
.giveaway {
  background-color:#cbbcf9;
  display: inline-block;
  padding: .25rem .5rem .25rem .5rem;
}
.postImage {
  margin: 1rem;
  height: 400px;
}
.postReactContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* padding: .5rem; */
}
.postReactContainer h3 {
  font-size: 1rem;
}
.icon {
  font-size: 1.5rem;
  /* color: #1a759f; */
  cursor: pointer;
  padding: .25rem;
}

@media(max-width: 768px) {
  .post {
    padding: 1rem;
    box-shadow: none;
    width: 90vw;
    overflow: hidden;
    /* border: solid green 8px; */
  }
  .postImage {
    height: 200px;
  }
}